.carouimg {
    min-height: 600px;
    background-color: rgb(214, 214, 214);
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
  }