@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
.body {
    font-family: 'Poppins', sans-serif !important;
}

.navbar {
    background-color: #E8EAF6;
}

.navbox {
    font-family: 'Poppins', sans-serif;
    font-size: 22px !important;
	font-weight: 400 !important;
}

.nav-link {
    color: #212121;
}

.brand {
    font-size: 30px !important;
	font-weight: bold;
}

.me-auto {
    font-weight: 900;
    display: flex;
    flex-direction: row-reverse;
}

.ml-auto>* {
    padding: 10px;
}
.btn {
    background-color: black !important;
    border: none !important;
    outline: none !important;
    outline-color: none !important;
    transition: all 200ms linear !important;
}

.btn:hover {
    background-color: #ff6d00 !important;
}