
.list-group-item.active {
    background-color: white !important;
    border-radius: 0 !important;
    border: 1px solid #003060 !important;
}

.list-group-item {
    gap: 10px !important;
    border: 1px solid white !important;
}
.list-group {
    gap: 10px !important;
    border-radius: 0 !important;
    border: 1px solid white !important;
}
