.profilec {
    font-family: "Poppins", sans-serif !important;
}

.row1 {
    margin-top: 20px !important;
}
.profilename {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500;
    color: #ff6d00;
}

.postsrow {
    margin-top: 40px !important;
}