@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

.searchbar {
    padding-top: 20px;
}
.form-control {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
}